In [1]:
import pandas as pd

In [2]:
filenames = [name + '.csv' for name in ['pic2020_0607_guadeloupe']]
filenames

['pic2020_0607_guadeloupe.csv']

## Choose station

In [3]:
filename = filenames[0]

## Choose station

In [4]:
station_df = pd.read_csv(filename, sep=';')
station_df['id'] = station_df.index
print(len(station_df.index))
station_df.head()

25

,dd,mm,yyyy,AOD_1640nm,AOD_1020nm,AOD_870nm,AOD_865nm,AOD_779nm,AOD_675nm,AOD_667nm,...,N[500-870_Angstrom_Exponent],N[340-440_Angstrom_Exponent],N[440-675_Angstrom_Exponent[Polar]],Data_Quality_Level,AERONET_Instrument_Number,AERONET_Site_Name,Site_Latitude(Degrees),Site_Longitude(Degrees),Site_Elevation(m),id
0,1,6,2020,0.074632,0.087599,0.092277,-999.0,-999.0,0.110516,-999.0,...,31,31,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,0
1,2,6,2020,0.057015,0.066145,0.070452,-999.0,-999.0,0.091177,-999.0,...,14,14,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,1
2,3,6,2020,0.076471,0.085287,0.086994,-999.0,-999.0,0.098199,-999.0,...,10,10,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,2
3,7,6,2020,0.074134,0.077534,0.082270,-999.0,-999.0,0.101491,-999.0,...,13,13,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,3
4,8,6,2020,0.031206,0.037082,0.042353,-999.0,-999.0,0.063124,-999.0,...,33,33,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,4

In [5]:
lambdas = ['440', '1020']

## Choose lambda

In [6]:
lambda_val = lambdas[0]

## Select a minimum of 2 observations (nobs => N[{lambda_val}nm]  with pic2020_0607)

In [7]:
#station_df = station_df[station_df['nobs'] >= 2]
station_df = station_df[station_df[f"N[AOD_{lambda_val}nm]"] >= 2]
print(len(station_df.index))
station_df.head()

25

,dd,mm,yyyy,AOD_1640nm,AOD_1020nm,AOD_870nm,AOD_865nm,AOD_779nm,AOD_675nm,AOD_667nm,...,N[500-870_Angstrom_Exponent],N[340-440_Angstrom_Exponent],N[440-675_Angstrom_Exponent[Polar]],Data_Quality_Level,AERONET_Instrument_Number,AERONET_Site_Name,Site_Latitude(Degrees),Site_Longitude(Degrees),Site_Elevation(m),id
0,1,6,2020,0.074632,0.087599,0.092277,-999.0,-999.0,0.110516,-999.0,...,31,31,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,0
1,2,6,2020,0.057015,0.066145,0.070452,-999.0,-999.0,0.091177,-999.0,...,14,14,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,1
2,3,6,2020,0.076471,0.085287,0.086994,-999.0,-999.0,0.098199,-999.0,...,10,10,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,2
3,7,6,2020,0.074134,0.077534,0.082270,-999.0,-999.0,0.101491,-999.0,...,13,13,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,3
4,8,6,2020,0.031206,0.037082,0.042353,-999.0,-999.0,0.063124,-999.0,...,33,33,0,lev15,748,Guadeloup,16.22492,-61.528378,39.0,4

## Select columns : year, month, days, id and nobs

In [8]:
ymd_df = station_df.filter(regex=f"yyyy|mm|dd|id|N[AOD_{lambda_val}nm]", axis = 1)
ymd_df.head()

   dd  mm  yyyy  id
0   1   6  2020   0
1   2   6  2020   1
2   3   6  2020   2
3   7   6  2020   3
4   8   6  2020   4

In [9]:
aod_nobs_df = station_df.filter(regex=f"id|N[AOD_{lambda_val}nm]", axis = 1)
result_df = ymd_df.merge(aod_nobs_df, on='id', how='inner')
result_df.head()

   dd  mm  yyyy  id
0   1   6  2020   0
1   2   6  2020   1
2   3   6  2020   2
3   7   6  2020   3
4   8   6  2020   4

In [10]:
lambdas = ['440', '1020']

## Choose lambda

In [11]:
lambda_val = lambdas[0]

## Add a column to result_df

In [12]:
def add_columns(regexp, source_df, result_df):
    source2_df = source_df.copy()
    result2_df = result_df.copy()
    columns_df = source2_df.filter(regex=regexp, axis = 1)
    result_df = columns_df.merge(result2_df, on='id', how='inner')

## AOD lambda_val

In [13]:
lambda_df_AOT_avg_std = station_df.filter(regex=f"^AOD_{lambda_val}|id", axis = 1)
result_df = ymd_df.merge(lambda_df_AOT_avg_std, on='id', how='inner')
result_df.head()

   dd  mm  yyyy  id  AOD_440nm
0   1   6  2020   0   0.117902
1   2   6  2020   1   0.097885
2   3   6  2020   2   0.109231
3   7   6  2020   3   0.111557
4   8   6  2020   4   0.077671

In [14]:
lambda_df = station_df.filter(regex=f"^AOD_{lambda_val}_med|id", axis = 1)
result_df = result_df.merge(lambda_df, on='id', how='inner')
result_df.head()

   dd  mm  yyyy  id  AOD_440nm
0   1   6  2020   0   0.117902
1   2   6  2020   1   0.097885
2   3   6  2020   2   0.109231
3   7   6  2020   3   0.111557
4   8   6  2020   4   0.077671

## 440-870_Angstrom_Exponent

In [17]:
lambda_df = station_df.filter(regex=f"^440-870_Angstrom_Exponent|id", axis = 1)
print(lambda_df.head())
#result_df = result_df.merge(lambda_df, on='id', how='inner')
#result_df.head()

   440-870_Angstrom_Exponent  id
0                   0.321680   0
1                   0.423971   1
2                   0.328898   2
3                   0.424079   3
4                   0.831222   4

In [34]:
lambda_df = station_df.filter(regex=f"870-440AngstromParam,\[AOTExt\]-Total_med|id", axis = 1)
#print(lambda_df.head())
result_df = result_df.merge(lambda_df, on='id', how='inner')
result_df.head()

,dd,mm,yyyy,nobs,id,AOT_1020_avg,AOT_1020_std,AOT_1020_med,AOTExt1020-T_avg,AOTExt1020-T_std,...,ASYM1020-T_med,ASYM1020-C_avg,ASYM1020-C_std,ASYM1020-C_med,ASYM1020-F_avg,ASYM1020-F_std,ASYM1020-F_med,"870-440AngstromParam,[AOTExt]-Total_avg","870-440AngstromParam,[AOTExt]-Total_std","870-440AngstromParam,[AOTExt]-Total_med"
0,20,6,1998,2,0,"0,378359","0,000850499","0,378359","0,38135","0,00125",...,"0,768597","0,77871","0,005954","0,77871","0,577295","0,021953","0,577295","0,092228","0,001984","0,092228"
1,22,4,1999,2,11,"0,062176","0,008567","0,062176","0,0628","0,0092",...,"0,76347","0,794523","0,00600252","0,794523","0,459565","0,0211155","0,459565","0,452291","0,02136","0,452291"
2,29,4,1999,2,13,"0,0861475","0,0040385","0,0861475","0,08705","0,00385",...,"0,757179","0,788928","0,00434902","0,788928","0,503852","0,011037","0,503852","0,45232","0,0277735","0,45232"
3,6,5,1999,2,15,"0,0734765","0,0063095","0,0734765","0,07575","0,00705",...,"0,740154","0,76682","0,00421301","0,76682","0,544576","0,0259245","0,544576","0,34236","0,0232845","0,34236"
4,7,5,1999,2,16,"0,170561","0,0133005","0,17056","0,16985","0,01295",...,"0,717893","0,740638","0,0192565","0,740638","0,550445","0,00183249","0,550445","0,257219","0,0356715","0,257219"

## Inflection_Point

In [35]:
lambda_df = station_df.filter(regex=f"Inflection_Point\[um\]_[avg$|std$]|id", axis = 1)
#print(lambda_df.head())
result_df = result_df.merge(lambda_df, on='id', how='inner')
result_df.head()

,dd,mm,yyyy,nobs,id,AOT_1020_avg,AOT_1020_std,AOT_1020_med,AOTExt1020-T_avg,AOTExt1020-T_std,...,ASYM1020-C_std,ASYM1020-C_med,ASYM1020-F_avg,ASYM1020-F_std,ASYM1020-F_med,"870-440AngstromParam,[AOTExt]-Total_avg","870-440AngstromParam,[AOTExt]-Total_std","870-440AngstromParam,[AOTExt]-Total_med",Inflection_Point[um]_avg,Inflection_Point[um]_std
0,20,6,1998,2,0,"0,378359","0,000850499","0,378359","0,38135","0,00125",...,"0,005954","0,77871","0,577295","0,021953","0,577295","0,092228","0,001984","0,092228","0,439",0
1,22,4,1999,2,11,"0,062176","0,008567","0,062176","0,0628","0,0092",...,"0,00600252","0,794523","0,459565","0,0211155","0,459565","0,452291","0,02136","0,452291","0,439",0
2,29,4,1999,2,13,"0,0861475","0,0040385","0,0861475","0,08705","0,00385",...,"0,00434902","0,788928","0,503852","0,011037","0,503852","0,45232","0,0277735","0,45232","0,439",0
3,6,5,1999,2,15,"0,0734765","0,0063095","0,0734765","0,07575","0,00705",...,"0,00421301","0,76682","0,544576","0,0259245","0,544576","0,34236","0,0232845","0,34236","0,439",0
4,7,5,1999,2,16,"0,170561","0,0133005","0,17056","0,16985","0,01295",...,"0,0192565","0,740638","0,550445","0,00183249","0,550445","0,257219","0,0356715","0,257219","0,439",0

In [36]:
lambda_df = station_df.filter(regex=f"Inflection_Point\[um\]_med|id", axis = 1)
#print(lambda_df.head())
result_df = result_df.merge(lambda_df, on='id', how='inner')
result_df.head()

,dd,mm,yyyy,nobs,id,AOT_1020_avg,AOT_1020_std,AOT_1020_med,AOTExt1020-T_avg,AOTExt1020-T_std,...,ASYM1020-C_med,ASYM1020-F_avg,ASYM1020-F_std,ASYM1020-F_med,"870-440AngstromParam,[AOTExt]-Total_avg","870-440AngstromParam,[AOTExt]-Total_std","870-440AngstromParam,[AOTExt]-Total_med",Inflection_Point[um]_avg,Inflection_Point[um]_std,Inflection_Point[um]_med
0,20,6,1998,2,0,"0,378359","0,000850499","0,378359","0,38135","0,00125",...,"0,77871","0,577295","0,021953","0,577295","0,092228","0,001984","0,092228","0,439",0,"0,439"
1,22,4,1999,2,11,"0,062176","0,008567","0,062176","0,0628","0,0092",...,"0,794523","0,459565","0,0211155","0,459565","0,452291","0,02136","0,452291","0,439",0,"0,439"
2,29,4,1999,2,13,"0,0861475","0,0040385","0,0861475","0,08705","0,00385",...,"0,788928","0,503852","0,011037","0,503852","0,45232","0,0277735","0,45232","0,439",0,"0,439"
3,6,5,1999,2,15,"0,0734765","0,0063095","0,0734765","0,07575","0,00705",...,"0,76682","0,544576","0,0259245","0,544576","0,34236","0,0232845","0,34236","0,439",0,"0,439"
4,7,5,1999,2,16,"0,170561","0,0133005","0,17056","0,16985","0,01295",...,"0,740638","0,550445","0,00183249","0,550445","0,257219","0,0356715","0,257219","0,439",0,"0,439"

## HE *

In [37]:
values = ["0,500000","0,065604","0,086077","0,112939","0,148184","0,194429","0,255105","0,334716",
          "0,439173","0,576227","0,756052","0,991996","1,301571","1,707757","2,240702",
          "2,939966","3,857452","5,061260","6,640745","8,713145","11,432287","15,000000"]

In [38]:
for value in values:
    lambda_df = station_df.filter(regex=f"{value}_[avg$|std$]|id", axis = 1)
    result_df = result_df.merge(lambda_df, on='id', how='inner')
    lambda_df = station_df.filter(regex=f"{value}_med|id", axis = 1)
    result_df = result_df.merge(lambda_df, on='id', how='inner')

In [39]:
result_df = result_df.drop(['id'], axis = 1)

In [40]:
result_df.to_csv(f"comeback_{lambda_val}_{filename}", index=False)